.titleBox { text-align: center; position: relative; z-index: 1; }

.titleBox h2 { font-size: 24px; margin-bottom: 50px; }

.titleBox p { font-size: 48px; line-height: 1.2; }

.titleBox p strong { font-weight: 700; position: relative; text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3); }

.titleBox p strong:after { content: ""; display: block; position: absolute; left: -10px; right: -10px; height: 10px; bottom: 10px; -webkit-transform-origin: 0 50%; transform-origin: 0 50%; border-radius: 100px; z-index: -1; }

#happen .titleBox strong:after { background-color: red; }

#business .titleBox strong:after { background-color: blue; }

#portfolio .titleBox strong:after { background-color: aqua; }

#community .titleBox strong:after { background-color: yellow; }

#main .section { background-size: cover; background-position: 50%; color: #fff; }

#main .section#happen video { position: absolute; z-index: -1; width: 100%; height: 100%; left: 0; top: 0; -o-object-fit: cover; object-fit: cover; }

#main .section#business { background-image: url("../images/main/bgBusiness.jpg"); }

#main .section#business .listBox { margin-top: 80px; }

#main .section#business .listBox ul { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

#main .section#business .listBox ul li a { width: 300px; text-align: center; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

#main .section#business .listBox ul li a .icon { width: 150px; height: 150px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; background: rgba(255, 255, 255, 0.5); border-radius: 100%; }

#main .section#business .listBox ul li a .txt { width: 200px; }

#main .section#business .listBox ul li a .txt dt { margin: 30px 0; font-size: 20px; font-weight: 500; }

#main .section#business .listBox ul li a .txt dd { line-height: 1.5; }

#main .section#portfolio { background-image: url("../images/main/bgPortfolio.png"); }

#main .section#portfolio .listBox { margin: 50px auto; width: 1350px; position: relative; }

#main .section#portfolio .listBox button { position: absolute; top: 35%; }

#main .section#portfolio .listBox button span { color: #fff; font-size: 48px; }

#main .section#portfolio .listBox button.prev { left: 0; }

#main .section#portfolio .listBox button.next { right: 0; }

#main .section#portfolio .listBox .pagination { text-align: center; margin-top: 50px; }

#main .section#portfolio .listBox .pagination .swiper-pagination-bullet { width: 14px; height: 14px; opacity: 1; background-color: transparent; border: 4px solid #fff; }

#main .section#portfolio .listBox .pagination .swiper-pagination-bullet-active { background-color: #fff; }

#main .section#portfolio .listBox .mask { width: 1200px; margin: auto; overflow: hidden; }

#main .section#portfolio .listBox li:hover .img:after { border-width: 10px; }

#main .section#portfolio .listBox li .img { position: relative; }

#main .section#portfolio .listBox li .img:after { content: ""; display: block; position: absolute; left: 0; top: 0; right: 0; bottom: 0; border: 0 solid #fff; -webkit-transition: 0.25s ease; transition: 0.25s ease; }

#main .section#portfolio .listBox li img { width: 100%; height: 250px; -o-object-fit: cover; object-fit: cover; }

#main .section#portfolio .listBox li p { text-align: center; margin-top: 30px; }

#main .section#community { background-image: url("../images/main/bgCommunity.jpg"); }

#main .section#community .listBox { margin-top: 50px; }

#main .section#community .listBox ul { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; margin: 10px; }

#main .section#community .listBox ul li { margin: 0 10px; }

#main .section#community .listBox ul li a { display: -webkit-box; display: -ms-flexbox; display: flex; height: 60px; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; width: 200px; border: 2px solid #fff; border-radius: 100px; -webkit-transition: 0.25s ease; transition: 0.25s ease; }

#main .section#community .listBox ul li a:hover { background-color: #fff; color: #000; }

#main .section#footer { background-color: #fff; color: #666; text-align: center; padding: 50px 0; }

#main .section#footer .title { font-size: 18px; }

#main .section#footer .address { margin: 20px 0; }

#main .section#footer .copyright { font-size: 14px; }

#main .section#footer p { margin: 10px 0; }

#main .section#footer p strong { font-weight: 500; color: #111; }

#fp-nav { -webkit-transition: 0.5s ease 0.25s; transition: 0.5s ease 0.25s; }

#fp-nav.last { right: -300px; }

#fp-nav ul li { display: block; width: 30px; height: 30px; margin: 50px 10px; position: relative; }

#fp-nav ul li a { display: block; position: relative; z-index: 1; width: 100%; height: 100%; cursor: pointer; text-decoration: none; }

#fp-nav ul li a:before { content: ""; display: block; width: 250px; height: 100%; position: absolute; right: 0; top: 0; }

#fp-nav ul li a.active span, #fp-nav ul li a.active span, .fp-nav ul li:hover a.active span { height: 4px; width: 4px; margin: -2px 0 0 -2px; border-radius: 100%; }

#fp-nav ul li a.active span:before { -webkit-transform: scale(1); transform: scale(1); }

#fp-nav ul li a span { border-radius: 50%; position: absolute; z-index: 1; height: 4px; width: 4px; border: 0; background: #fff; left: 50%; top: 50%; margin: -2px 0 0 -2px; -webkit-transition: all 0.1s ease-in-out; transition: all 0.1s ease-in-out; }

#fp-nav ul li a span:before { content: ""; display: block; width: 20px; height: 20px; border-radius: 100%; position: absolute; left: 50%; top: 50%; margin: -15px 0 0 -15px; -webkit-box-sizing: border-box; box-sizing: border-box; border: 2px solid #fff; -webkit-transform: scale(0); transform: scale(0); -webkit-transition: 0.25s ease; transition: 0.25s ease; }

#fp-nav ul li:hover a span { width: 4px; height: 4px; margin: -2px 0px 0px -2 px; }

#fp-nav ul li .fp-tooltip { position: absolute; -webkit-transform: translateY(-50%); transform: translateY(-50%); top: 50%; color: #fff; font-size: 16px; font-weight: 500; font-family: "Poppins", "Noto Sans KR", sans-serif; white-space: nowrap; max-width: 220px; overflow: hidden; display: block; opacity: 0.5; width: auto; cursor: pointer; }

#fp-nav ul li:hover .fp-tooltip, #fp-nav.fp-show-active a.active + .fp-tooltip { -webkit-transition: opacity 0.2s ease-in; transition: opacity 0.2s ease-in; width: auto; opacity: 1; }

#fp-nav ul li .fp-tooltip.fp-right { right: 60px; }

#fp-nav ul li .fp-tooltip.fp-left { left: 4px; }
